{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/style.css"/>
<style>
    .header{border-bottom:2px solid #96D0FF}
    .team-list{border:1px solid #ddd;margin:10px;}
    .team-list h3{background-color:#f2f2f2;line-height:32px;padding:0 10px;}
    .team-list .item{display:inline-block;border:1px solid #ddd;background-color:#fff;margin:4px;}
    .team-list .item-wrap{padding:10px}
    .team-list .option{padding:5px;}
    .team-list .add-sprint{cursor:pointer;padding:4px 8px;}
    .team-list .add-sprint:hover{color:#f00;}
    .team-list .people{padding:4px 8px;}
    .admin .carddetail{bottom:0;}
    .admin form .v [type='text']{width:150px;}
    .admin .carddetail{background-color:#fff;}
    .company-people{position:absolute;top:42px;left:280px;padding:0px 10px 10px;bottom:10px;border:1px solid #ddd;}
    .company-people input{border:1px solid #ddd;padding:2px;}
    .company-people ul{padding:5px 0;font-size:12px;}
    .company-people li{cursor:default;padding:2px;}
    .company-people li:hover{background-color:#f0f0f0;}
    .company-people .info{color:#aaa;font-size:12px;line-height:2em;}
    input.input{border:1px solid #ddd;width:50%;height: 20px;}
</style>
<div class="body cls admin"  ng-app="admin" ng-controller="body">
    <div id="header" class="header ng-scope">
        <h2>{%company.get('name')%}</h2>
        <span>后台管理</span>
        {%if user.role=='superAdmin'%}
            <label for="groupfilter">组：</label>
            <select ng-cloak name="groupfilter" id="groupfilter" ng-model="teamId"  ng-change="change()">
                <option ng-repeat="val in companyTeams" value="{{val.objectId}}">{{val.name}}</option>
            </select>
        {%/if%}
        <a class="go-back" href="javascript:history.back()">点击返回</a>
        <span class="user" ng-cloak>欢迎：{%user.displayName%} &nbsp;<a href="/logout">退出</a></span>
    </div>
    <div class="content" ng-controller="content" ng-cloak>
        <div class="team-list">
            <h3>{{curTeam.teamName}}</h3>
            <div class="item-wrap">
                <h4>冲刺调整</h4>
                <ul class="sprint-list">
                    <li ng-dblclick="modify('sprint',sprint)" class="sprints item" ng-repeat="sprint in sprints">
                        <h3>{{sprint.name}}</h3>
                        <div class="option">
                            <label>
                                <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-checked="sprint.isDefault==1" ng-model="sprint.isDefault" ng-change="updatesprint(sprint)"/>
                                设默认
                            </label>
                            <label>
                                <input type="checkbox" ng-true-value="'0'" ng-false-value="'1'" ng-checked="sprint.deleted!=1" ng-model="sprint.deleted" ng-change="updatesprint(sprint)"/>
                                显示
                            </label>
                        </div>
                    </li>
                    <li class="item add-sprint" ng-click="modify('addsprint')">+</li>
                </ul>
            </div>
            <div class="item-wrap">
                <h4>人员调整</h4>
                <ul class="sprint-list">
                    <li ng-dblclick="modify('user',people)" class="people item" ng-repeat="people in curTeam.peoples">
                        <span>{{people.displayName}}</span>
                    </li>
                    <li class="item add-sprint" ng-click="modify('adduser',curTeam.peoples)">+</li>
                </ul>
            </div>
            <div class="item-wrap">
                <h4>tags编辑（逗号分隔多个）</h4>
                <input ng-model="tags" type="text" class="input">
                <input ng-click="savetags(tags)" type="button" value="保存">
            </div>

        </div>
        {%if user.role=='superAdmin'%}
        <div class="team-list">
            <div class="item-wrap">
                <h4>团队调整</h4>
                <ul class="teams">
                    <li ng-dblclick="modify('team',team)" class="people item" ng-repeat="team in companyTeams">
                        <span>{{team.name}}</span>
                    </li>
                    <li class="item add-sprint" ng-click="modify('addteam',companyTeams)">+</li>
                </ul>
            </div>
        </div>
        {%/if%}
    </div>
    <div class="carddetail" ng-cloak ng-show="show" ng-controller="modify">
        <form class="addcard ng-pristine ng-valid" ng-submit="submit(actiontype)">
            <div class="form-wrap">
                <div class="show-title cls">{{title}}</div>
                <ul ng-if="actiontype=='team'||actiontype=='addteam'">
                    <li><label class="k"><em class="red">*</em>团队名称：</label><span class="v"><input type="text" ng-model="data.name" required rows="1" class="title"/></span></li>
                    <li><span class="k"></span><span class="v"><input  ng-disabled="ajaxing" type="submit" class="btn" value="提交" /></span></li>
                </ul>
                <ul ng-if="actiontype=='adduser'">
                    <li><label class="k"><em class="red">*</em>登录名：</label><span class="v"><input type="text" ng-model="data.username" required rows="1" class="title"  placeholder="登录使用后续不能修改"/></span></li>
                    <li><label class="k"><em class="red">*</em>显示名称：</label><span class="v"><input type="text" ng-model="data.displayName" required rows="1" class="title"  placeholder="系统中显示名称"/></span></li>
                    <li><label class="k"><em class="red">*</em>邮箱：</label><span class="v"><input type="text" ng-model="data.email" required rows="1" class="title"  placeholder="邮箱名"/></span></li>
                    <li><label class="k"><em class="red">*</em>密码：</label><span class="v"><input type="text" ng-model="data.password" required rows="1" class="title" placeholder="登录密码" /></span></li>
                    <li><span class="k"></span><span class="v"><input  ng-disabled="ajaxing" type="submit" class="btn" value="提交" /></span></li>
                </ul>
                <ul ng-if="actiontype=='user'|| actiontype=='addcompanyuser'">
                    <li><label class="k"><em class="red">*</em>登录名：</label><span class="v"><input type="text" ng-model="data.username" required rows="1" class="title" placeholder="登录名" /></span></li>
                    <li><label class="k"><em class="red">*</em>显示名称：</label><span class="v"><input type="text" ng-model="data.displayName" required rows="1" class="title" placeholder="系统中显示名称" /></span></li>
                    <li><label class="k"><em class="red">*</em>邮箱：</label><span class="v"><input type="text" ng-model="data.email" required rows="1" class="title"  placeholder="邮箱名"/></span></li>
                    <li><label class="k">密码：</label><span class="v"><input type="text" ng-model="data.password" rows="1" class="title" placeholder="为空表示不更改" /></span></li>
                    <li><span class="k"></span><span class="v"><input  ng-disabled="ajaxing" type="submit" class="btn" value="提交" /></span></li>
                </ul>
                <ul ng-if="actiontype=='addsprint'||actiontype=='sprint'">
                    <li><label class="k"><em class="red">*</em>计划名称：</label><span class="v"><input type="text" ng-model="data.name" required rows="1" class="title"/></span></li>
                    <li><span class="k"></span><span class="v"><input  ng-disabled="ajaxing" type="submit" class="btn" value="提交" /></span></li>
                </ul>
                <div class="company-people" ng-if="actiontype=='adduser'|| actiontype=='addcompanyuser'">
                    <div class="info">双击选择公司其他人员</div>
                    <input type="text" ng-model="fiterTxt" placeholder="输入关键字过滤"/>
                    <ul class="scroll-wrap">
                        <li ng-if="people | filterpeople:fiterTxt" ng-dblclick="filedata(people)" ng-repeat="people in companyPeople">{{people.displayName}}</li>
                    </ul>
                </div>
            </div>
            <span class="close" ng-click="closepanel()">×</span>
        </form>
    </div>
</div>
<script>
    seajs.use(["angular","angular-animate","directive"],function(){
        var app = angular.module('admin', ['ngAnimate','ngDirective']);
        app.filter("filterpeople",function(){
            return function(obj,txt){
                var inCur = 0;
                for(var i=0;i<obj.teams.length;i++){
                    if(obj.teams[i].teamId == tplData.curTeam.teamId){
                        return 0;
                    }
                }
                if(typeof txt == "string" && txt.length > 0){
                    var str = JSON.stringify(obj);
                    if(str.indexOf(txt)!=-1){
                        return 1;
                    }else{
                        return 0;
                    }
                }else{
                    return 1;
                }
            }
        });
        app.controller("body",function($scope,$rootScope,$http){
            $scope.$on("modify",function(event,type,data){
                $scope.$broadcast("showmodify",type,data);
            });
            $scope.teamId = tplData.params.teamId;
            $scope.companyTeams = tplData.companyTeams;
            $scope.change=function(){
                location.href = "/admin?teamId="+$scope.teamId;
            }
        });
        app.controller("content",function($scope,$rootScope,$http){
            $scope.teams = tplData.user.teams;
            $scope.modify = function(type,data){
                $scope.$emit("modify",type,data);
            };
            $scope.updatesprint = function(sprint){
                var url = "/ajax?type=update-sprint";
                $http.post(url,sprint).success(function(data){
                    if(data.status == 1) {
                    }else{
                        alert(data.result.err.message);
                    }
                }).error(function(){
                    alert("添加失败");
                });
            };
            var cur_team;
            tplData.user.teams.forEach(function(team){
                if(team.teamId == tplData.params.teamId){
                    cur_team = team;
                }
            });
            $scope.curTeam = tplData.curTeam = cur_team;
            $scope.sprints = tplData.sprints;
            $scope.companyTeams = tplData.companyTeams;
            getdata($http,cur_team);
            $scope.tags = tplData.team.tags.join(",");
            $scope.savetags = function(str){
                var cur_str = str.trim().replace("，",",");
                var arr = cur_str.split(",");
                for(var i=0;i<arr.length;i++){
                    if(arr[i].length ==0){
                        arr.splice(i,1);
                        i--;
                    }
                }
                var url = "/ajax?type=update-team";
                $http.post(url,{objectId:tplData.team.objectId,tags:arr}).success(function(data){
                    if(data.status == 1) {
                        $scope.tags = arr.join(",");
                    }else{
                        alert(data.result.err.message);
                    }
                }).error(function(){
                    alert("添加失败");
                });
                console.log(arr.join(","));
            }
        });
        app.controller("modify",function($scope,$rootScope,$http){
            $scope.show = 0;
            $scope.$on("showmodify",function(event,type,data){
                $scope.actiontype = type;
                var objtitle  = {
                    adduser:"添加用户",
                    addsprint:"添加计划",
                    sprint:"修改计划",
                    user:"修改用户",
                    addcompanyuser:"添加公司用户到该团队",
                    team:"修改团队名称",
                    addteam:"添加团队"
                };
                var renderdata = data;
                if(type == "addsprint"){
                    renderdata = {}
                }else if(type == "adduser"){
                    renderdata = {}
                }else if(type == "addteam"){
                    renderdata= {};
                }
                $scope.title = objtitle[type];
                $scope.data = renderdata;
                $scope.companyPeople = tplData.companyPeople;
                $scope.show = 1;
            });
            $scope.submit=function(type){
                $scope.ajaxing = 1;
                if(type == "adduser"){
                    var url = "/ajax?type=add-user&teamId="+tplData.params.teamId;
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            tplData.curTeam.peoples.push(data.result);
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                            $scope.show = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                    console.log($scope.data);
                }else if(type == "user"){
                    var url = "/ajax?type=update-user";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                }else if(type == "sprint"){
                    var url = "/ajax?type=update-sprint";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                }else if(type == "addsprint"){
                    $scope.data.teamId = tplData.params.teamId;
                    var url = "/ajax?type=add-sprint";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            tplData.sprints.push(data.result);
                            $scope.ajaxing = 0;
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                }else if(type=='addcompanyuser'){
                    $scope.data.teams.push({teamId:tplData.curTeam.teamId,teamName:tplData.curTeam.teamName});
                    var url = "/ajax?type=update-user";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            tplData.companyTeams.push(data.result);
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                }else if(type=='team'){
                    var url = "/ajax?type=update-team";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });
                }else if(type == 'addteam'){
                    var url = "/ajax?type=add-team";
                    $http.post(url,$scope.data).success(function(data){
                        if(data.status == 1) {
                            $scope.ajaxing = 0;
                            tplData.companyTeams.push(data.result);
                            $scope.show = 0;
                        }else{
                            alert(data.result.err.message);
                            $scope.ajaxing = 0;
                        }
                    }).error(function(){
                        alert("添加失败");
                        $scope.ajaxing = 0;
                    });console.log($scope.data);
                }
            };
            $scope.filedata = function(people){
                $scope.data = people;
                $scope.actiontype = "addcompanyuser";
                $scope.title = "添加公司用户到该团队";
            };
            $scope.closepanel=function(){
                $scope.show = 0;
            };
        });
        function getdata($http,team){
            team.peoples = tplData.teamPeople;
        }
    });
</script>
{%include "layout/footer"%}