{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/style.css"/>
<div class="form-wrap">
    <form class="card" id="card" method="post">
        <h4>添加卡片</h4>
        <ul>
            <li><label class="k" for="title"><em class="red">*</em>标题：</label><span class="v"><textarea data-check="1" rows="2" id="title" class="title" data-path="title"></textarea></span>
            </li>
            <li><label class="k" for="descri"><em class="red">*</em>描述：</label><span class="v"><textarea data-check="1" rows="4" id="descri" class="descri" data-path="descri"></textarea></span>
            </li>
            <li><label class="k" for="owners"><em class="red">*</em>负责人：</label><span class="v"><select data-path="owner" id="owners">
                {%each teams as val key%}
                <option value="{%val.id%}">{%val.get('username')%}</option>
                {%/each%}
            </select></span></li>
            <li class="imgs"><label class="k">图片：</label><span class="v"><span class="imgs-wrap">
                    </span><span class="uploadbtn"><span class="text">拖放<br>ctrl+v</span><input tabindex="-1" class="fileupload" type="file" name="mypic"></span></span>
            </li>
            <li><span class="k"></span><span class="v"><input type="submit" class="btn" value="提交"> <input class="btn close" type="button" value="取消"></span></li>
        </ul>
        <input type="hidden" name="progress" class="progress" value="未开始">
    </form>
</div>
<script>
    seajs.use(["jquery","template","tools"],function($,template){
        $("#card").on("submit",function(e){
            e.preventDefault();
            $.ajax({
                url:"/ajax?type=add-card&teamId="+tplData.params.teamId+"&sprintId="+tplData.params.sprintId,
                type:"post",
                data:getPathObj($("#card")),
                success:function(data){
                    console.log(data);
                }
            });
            console.log(getPathObj($("#card")));
        });
        function getPathObj(selector){
            var doms = $(selector).find("[data-path]"), resObj ={},cur_obj = resObj;
            doms.each(function(){
                var me = $(this),arr = me.data("path").split(".");
                for(var i=0;i<arr.length;i++){
                    if(i==arr.length-1){
                        if(me[0].tagName.toLowerCase()=="select"){
                            var cur_option = me.find("option:selected");
                            cur_obj[arr[i]]={"name": $.trim(cur_option.text()),"value":me.val()}
                        }else{
                            cur_obj[arr[i]] = me.data("value")||me.val();
                        }

                    }else{
                        if(!cur_obj[arr[i]]){
                            cur_obj[arr[i]] = {};
                        }
                        cur_obj = cur_obj[arr[i]];
                    }
                }
            });
            return resObj;
        }
    });

</script>

{%include "layout/footer"%}