{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/style.css"/>
<div class="body cls"  ng-app="card" ng-controller="body">
    <div id="header" class="header" ng-controller="head">
        <h2>卡片管理平台</h2>
        <form id="filter" class="filter">
            <label for="groupfilter">组：</label>
            <select ng-cloak name="groupfilter" id="groupfilter" ng-change="change()" ng-model="teamId">
                <option ng-repeat="val in teams" value="{{val.teamId}}">{{val.teamName}}</option>
            </select>
           <label for="dateselect">区间：</label>
            <select ng-cloak name="dateselect" id="dateselect" ng-model="sprintId" ng-change="change()">
                <option ng-repeat="val in sprints" value="{{val.id}}">{{val.name}}</option>
            </select>
            <label for="filtername">搜索：</label><input id="filtername" class="namelist" type="text" placeholder="多关键词空格分隔"> <input type="submit" value="筛选">
        </form>
        <span class="notice"></span>
        <span class="user" ng-cloak>欢迎：{%user.username%}</span>
    </div>
    <div id="content" ng-cloak class="content cls" ng-controller="list">
        <div ng-repeat="val in list" class="wrap" ng-class="{true:'fold'}[val.isFold]" data-name="{{val.type}}"><h3><span class="title">{{val.type}}</span>
            <span class="add" ng-click="addcard()" ng-if="$index==0">添加</span>
            <span class="switch" ng-click="switch(val)"></span></h3>
            <ul parentscope="scope" data-index="{{$index}}" data="val" class="cardlist cls" minheight dropable>
                <li draggable ng-dblclick="cardclick(item)" data-pindex="{{$parent.$index}}" data-index="{{$index}}" class="card" ng-repeat="item in val.list">
                    <h4>{{item.title}}</h4>
                    <ul class="ownerslist cls">
                        <li class="name owner">责任人:</li>
                        <li class="owner">{{item.owners | ownersname}}</li>
                    </ul>
                    <ul class="ownerslist cls">
                        <li class="name owner">创建人:</li>
                        <li class="owner"><em>{{item.createdBy.userName}}</em></li>
                    </ul>
                    <div class="completetime"><span class="owner">完成日:</span><span class="owner">2015-10-13</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel" ng-show="show" ng-cloak ng-controller="cardPanel">
        <div class="mask"></div>
        <div class="form-wrap"  paste>
            <form class="addcard" ng-submit="submit()">
            <h4>添加卡片</h4>
            <ul>
                <li><label class="k" for="title"><em class="red">*</em>标题：</label><span class="v"><textarea ng-model="card.title" data-check="1" rows="2" id="title" class="title"></textarea></span></li>
                <li><label class="k" for="descri"><em class="red">*</em>描述：</label><span class="v"><textarea ng-model="card.description" data-check="1" rows="4" id="descri" class="descri" name="descri"></textarea></span></li>
                <li><label class="k" for="owners"><em class="red">*</em>负责人：</label><span class="v">
                     <span class="peo-wrap"><em title="双击删除" ng-repeat="peo in card.owners">{{peo.username}}</em></span>
                    <select ng-model="cacheS" ng-change="change(cacheS)" name="owners" id="owners" ng-options="owner.objectId as owner.username for owner in companyPeople">
                </select></span>
                </li>
                <li class="imgs"><label class="k">图片：</label>
                   <span class="v">
                        <span class="imgs-wrap" ng-cloak><img ng-click="showimg()"  ng-repeat="img in card.images" ng-if="!img.del" ng-src="{{img.url}}"/></span>
                        <span class="uploadbtn {{loading}}">
                            <span class="text"><span class="normal">截屏  ctrl+v</span><i>+</i></span>
                            <span class="status">{{loadStatus}}</span>
                            <input tabindex="-1" class="fileupload" type="file" name="mypic" onchange="angular.element(this).scope().onFileSelect(this.files)"/>
                        </span>
                    </span>
                </li>
                <li><span class="k"></span><span class="v"><input type="submit" class="btn" value="提交" /></span></li>
            </ul>
            <span class="close" ng-click="closepanel()">×</span>
        </form>
        </div>
    </div>
    <div class="carddetail" ng-cloak ng-show="show" ng-controller="cardDetail" paste>
        <form class="addcard ng-pristine ng-valid" ng-submit="submit()">
            <ul>
                <li><label class="k"><em class="red">*</em>标题：</label><span class="v"><textarea ng-model="card.title" data-check="1" rows="2" class="title"></textarea></span></li>
                <li><label class="k"><em class="red">*</em>描述：</label><span class="v"><textarea ng-model="card.description" data-check="1" rows="4" class="descri" name="descri"></textarea></span></li>
                <li><label class="k"><em class="red">*</em>负责人：</label><span class="v">
                    <span class="peo-wrap"><em title="右键删除" rightclick="deletePeo(card,peo.objectId)" ng-repeat="peo in card.owners">{{peo.username}}</em></span>
                    <select ng-change="change(cacheS)" title="选择添加用户" ng-model="cacheS" name="owners" ng-options="owner.objectId as owner.username for owner in companyPeople">
                    </select></span>
                </li>
                <li class="imgs"><label class="k">图片：</label>
                    <span class="v">
                        <span class="imgs-wrap" ng-cloak><img ng-click="showimg()"  ng-repeat="img in card.images" ng-if="!img.del" ng-src="{{img.url}}"/></span>
                        <span class="uploadbtn {{loading}}">
                            <span class="text"><span class="normal">截屏  ctrl+v</span><i>+</i></span>
                            <span class="status">{{loadStatus}}</span>
                            <input tabindex="-1" class="fileupload" type="file" name="mypic" onchange="angular.element(this).scope().onFileSelect(this.files)"/>
                        </span>
                    </span>
                </li>
                <li><span class="k"></span><span class="v"><input type="submit" class="btn" value="提交" /></span></li>
            </ul>
            <span class="close" ng-click="closepanel()">×</span>
        </form>
        <div class="comment">
            <h4>留言：</h4>
            <ul>
               <li ng-repeat="comment in comments">
                   <div class="cont">{{comment.description}}</div>
                   <div class="info"><span class="time">{{comment.createdAt | date : 'yyyy-MM-dd HH:mm'}}</span><span class="name">{{comment.createdBy.username}}</span></div>
               </li>
                <li>
                    <form  class="add-comment"  ng-submit="submit()">
                        <textarea maxlength="200" ng-disabled="commenting"  ng-keypress="enter($event)" class="comment-input" ng-model="cacheComment" placeholder="ctrl+enter提交（200字内）"></textarea>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    seajs.use(["angular","angular-animate"],function(){
        var app = angular.module('card', ['ngAnimate']);
        app.filter("ownersname",function(){
            return function(owners){
                var arr_name = [];
                for(var i=0;i<owners.length;i++){
                    arr_name.push(owners[i].username);
                }
                return arr_name.join(",");
            }
        });
        app.controller("body",function($scope){
            $scope.$on("headChange",function (event, obj) {
                $scope.$broadcast("filterChange", obj);
            });
            $scope.$on("addCard",function(){
                $scope.$broadcast("showcardpanel");
            });
            $scope.$on("addnewCard",function(event,data){
                $scope.$broadcast("addedCard",data);
            });
            $scope.$on("modefyCard",function(event,data){
                $scope.$broadcast("showDetail",data);
            });
        });
        app.controller('head', function($scope,$http) {
            $scope.scope = $scope;
            $scope.teams = tplData.teams;
            $scope.teamId=tplData.teams[0].teamId;
            $scope.sprints = tplData.sprints;
            $scope.sprintId = tplData.sprints[0].id;
            tplData.sprintId = $scope.sprintId;
            tplData.teamId = $scope.teamId;
            $scope.change = function (name) {
                $scope.$emit("headChange", {sprintId:$scope.sprintId,teamId:$scope.teamId});
                tplData.sprintId = $scope.sprintId;
                tplData.teamId = $scope.teamId;
            };
        });
        app.controller('cardPanel',function($scope,$http){
            $scope.show = 0;
            $scope.card = {};
            $scope.card.images=[];
            $scope.card.owners = [];
            $scope.submit=function(e){
                var url = "/ajax?type=add-card&teamId="+tplData.teamId+"&sprintId="+tplData.sprintId;
                $scope.card.type="未开始";
                $http.post(url,$scope.card).success(function(data){
                    if(data.status == 1) {
                        $scope.$emit("addnewCard",data.result);
                        $scope.show = 0;
                    }
                });
            };
            $scope.closepanel= function(){
                $scope.show = 0;
            };
            $scope.$on("showcardpanel",function(){
                $scope.show = 1;
                if(!tplData.companyPeople){
                    $http.get("/ajax?type=get-people&teamId="+tplData.teamId).then(function(data){
                        tplData.companyPeople = $scope.companyPeople = data.data.result;
                    });
                }else{
                    $scope.companyPeople = tplData.companyPeople;
                }
            });
            $scope.change=function(id){
                var ret = 0;
                $scope.card.owners.forEach(function(obj){
                    if(obj.objectId == id){
                        ret = 1;
                    }
                });
                if(ret){return};
                for(var i=0;i<$scope.companyPeople.length;i++){
                    if(id==$scope.companyPeople[i].objectId){
                        $scope.card.owners.push($scope.companyPeople[i]);
                        break;
                    }
                }
                delete $scope.cacheS;
            };
        });
        app.controller('list', function($scope,$rootScope,$http) {
           render({sprintId:tplData.sprints[0].id,teamId:tplData.teams[0].teamId});
           $scope.$on("filterChange",function (event, obj) {
               render(obj);
           });
           $scope.switch=function(val){
               val.isFold = !val.isFold;
           };
           $scope.addcard=function(){
               $scope.$emit("addCard");
           };
            $scope.cardclick=function(data){
                $scope.$emit("modefyCard",data);
            };
            $scope.$on("addedCard",function(event,data){
                for(var i=0;i<$scope.list.length;i++){
                    var cur_list  = $scope.list[i];
                    if(cur_list.type == data.type){
                        cur_list.list.push(data);
                    }
                }
                $scope.apply();
            });
           $scope.$on("drop",function(event,obj){
               var newType =  $scope.list[obj.pindex].type;
               var oldList = JSON.parse(JSON.stringify($scope.list));
               if(obj.pindex !=obj.oriPindex){
                   var moveData = $scope.list[obj.oriPindex]["list"].splice(obj.index,1)[0];
                   $scope.list[obj.pindex]["list"].push(moveData);
                   var url = "/ajax?type=card-move&newType="+ newType+"&cardId="+moveData.objectId;
                   $http.get(url).then(function(data){
                       var data = data.data;
                       if(data.status != 1){
                            $scope.list = oldList;
                       }
                   });
               }else{
                   obj.element.removeClass("moving");
               }
           });
           function render(obj){
               var url = "/ajax?type=get-card-list&sprintId="+ obj.sprintId+"&teamId="+obj.teamId;
               $http.get(url).then(function(data){
                   var list = data.data.result;
                   $scope.list = data.data.result;
                   tplData.cardList = data.data.result;
               },function(data){});
           }
        });
        app.controller('cardDetail',function($scope,$rootScope,$http){
            $scope.show = 0;
            $scope.card = {};
            $scope.card.images=[];
            $scope.comments=[];
            $scope.submit=function(e){
                var url = "/ajax?type=updata-card&teamId="+tplData.teamId+"&sprintId="+tplData.sprintId+"&cardId="+$scope.card.objectId;
                $http.post(url,$scope.card).success(function(data){
                    if(data.status == 1) {
                        $scope.show = 0;
                    }
                });
            };
            $scope.closepanel= function(){
                $scope.show = 0;
            };
            $scope.$on("showDetail",function(event,data){
                $scope.card = data;
                $scope.show = 1;
                if(!tplData.companyPeople){
                    $http.get("/ajax?type=get-people&teamId="+tplData.teamId).then(function(data){
                        tplData.companyPeople = $scope.companyPeople = data.data.result;
                    });
                }else{
                    $scope.companyPeople =tplData.companyPeople;
                }
                if(data.hasComments == 1){
                    //获取评论
                    $http.get("/ajax?type=get-comments&cardId="+data.objectId).then(function(data){
                        $scope.comments = data.data.result;
                    });
                }else{
                    $scope.comments=[];
                }
            });
            $scope.change=function(id){
                var ret = 0;
                $scope.card.owners.forEach(function(obj){
                    if(obj.objectId == id){
                        ret = 1;
                    }
                });
                if(ret){return};
                for(var i=0;i<$scope.companyPeople.length;i++){
                    if(id==$scope.companyPeople[i].objectId){
                        $scope.card.owners.push($scope.companyPeople[i]);
                        break;
                    }
                }
                delete $scope.cacheS;
            };
            $scope.showimg=function(){
                var openwindow=window.open("","","location=no,fullscreen=yes");
                openwindow.document.write("<style type='text/css'>*{padding:0;margin:0}body{text-align:center;padding:10px;}img{border:1px solid #ddd;padding:1px;}</style>");
                openwindow.document.write("<img style='max-width:100%' src='"+this.img.url+"'/>");
                openwindow.document.title="查看图片";
            };
            $scope.enter = function(ev) {
                if($scope.commenting == 1) return;
                var val = $scope.cacheComment;
                if (ev.ctrlKey == true && (ev.keyCode == 13||ev.keyCode == 10) && val.length>0){
                    $scope.commenting = 1;
                    var url = "/ajax?type=add-comment&cardId="+$scope.card.objectId+"&description="+encodeURIComponent(val)+"&hasComments="+$scope.card.hasComments;
                    $http.get(url).then(function(data){
                      if(data.data.status == 1){
                            $scope.card.hasComments = "1";
                            $scope.comments.push(data.data.result);
                            $scope.cacheComment = "";
                      }else{
                            alert("添加评论失败！");
                      }
                        $scope.commenting=0;
                    },function(data){
                        $scope.commenting=0;
                    });
                }
            };
            $scope.deletePeo=function(card,objectId){
                for(var i=0;i<card.owners.length;i++) {
                    if (card.owners[i].objectId == objectId) {
                        card.owners.splice(i, 1);
                    }
                }
            }
        });
        app.directive('minheight',function($window){
            return function(scope,element,attr){
                element.css({"min-height":$window.innerHeight-75+"px"});
                $window.addEventListener("resize",function(){
                    element.css({"min-height":$window.innerHeight-75+"px"});
                });
            };
        });
        app.directive('paste',function(){
            return {
                restrict:"EA",
                link:function(scope,element){
                    element.on("paste",function(e){
                        var clipboardData = e.clipboardData,i = 0, item,fd = new FormData();
                        if(clipboardData && clipboardData instanceof DataTransfer){
                            for(i=0 ; i < clipboardData.items.length; i++ ){
                                if( clipboardData.items[i]["kind"] === 'file'&&clipboardData.items[i]["type"].match(/^image\//i)){
                                    item = clipboardData.items[i];
                                    break;
                                }
                            };
                            var blob = item&&item.getAsFile();
                            if(!blob||!blob.type) return;/*正常粘贴行为，返回*/
                            if(blob.type.match(/^image\//i)&&blob.size>0){
                                fd.append('file', blob);
                                startupload(fd,"/upload",loadprogress,loadsuccess,loaderror);
                            }else if(blob.type.match(/^image\//i)&&!blob.size){
                                alert("不能粘贴,请用截屏软件截屏后粘贴！");
                            };
                        }
                    });
                    scope.loadStatus = "上传…";
                    scope.onFileSelect=function(file){
                        var fd = new FormData();
                        fd.append('file', file[0]);
                        startupload(fd,"/upload",loadprogress,loadsuccess,loaderror);
                    };
                    function startupload(formData,url,progress,success,error){
                        if(scope.loading == "loading") return;
                        scope.loading = "loading";
                        scope.$apply();
                        var xhr = new XMLHttpRequest();
                        xhr.open("post", url, true);
                        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        xhr.upload.addEventListener("progress",progress,false);
                        xhr.addEventListener("load",function(){
                            success(JSON.parse(xhr.responseText));
                        },false);
                        xhr.addEventListener("error",error,false);
                        xhr.send(formData);
                    }
                    function loaderror(){
                        var btn_wrap = element.find(".uploadbtn");
                        var input_html = '<input tabindex="-1" class="fileupload" type="file" name="mypic">';
                        btn_wrap.append(input_html);
                        alert("上传失败！");
                    }
                    function loadsuccess(data){
                        scope.card.images.push({url:data.result.url});
                        if(data.status==1){
                            scope.loading = "";
                            scope.loadStatus = "上传…";
                        }
                        scope.$apply();
                    }
                    function loadprogress(e){
                        scope.loadStatus = Math.ceil(e.loaded/ e.total * 100) + "%";
                        scope.$apply();
                    }
                }
            }
        });
        app.directive('draggable', function($document,$rootScope) {
            var wraplist = $document.find("[dropable]");
            return {
                restrict:"EA",
                link:function(scope, element, attrs) {
                    var startX=0, startY=0, x = 0, y = 0;
                    var wrap = document.querySelectorAll("[dropable]");
                    element.css({
                        position: 'relative',
                        cursor:"default"
                    });
                    element.bind('mousedown', function(event) {
                        startX = event.screenX - x;
                        startY = event.screenY - y;
                        $document.bind('mousemove', mousemove);
                        $document.bind('mouseup', mouseup);
                    });
                    function mousemove(event) {
                        y = event.screenY - startY;
                        x = event.screenX - startX;
                        element.addClass("draging").css({
                            top: y + 'px',
                            left:  x + 'px'
                        });
                    }
                    function mouseup(event) {
                        element.removeClass("draging");
                        $document.unbind('mousemove', mousemove);
                        $document.unbind('mouseup', mouseup);
                        for(var i=0;i<wrap.length;i++){
                            var cur_wrap = wrap[i];
                            if(inSideDom(element[0],cur_wrap)){
                                element.addClass("moving");
                                scope.$emit("drop",{pindex:cur_wrap.getAttribute("data-index"),oriPindex:element[0].getAttribute("data-pindex"),index:element[0].getAttribute("data-index"),element:element});
                                break;
                            }
                        }
                        element.css({top:0,left:0});
                        startX=0;startY=0; x = 0;y = 0;
                    }
                }
            }
        });
        app.directive('rightclick', function($parse) {
            return function(scope, element, attrs) {
                var fn = $parse(attrs.rightclick);
                element.bind('contextmenu', function(event) {
                    scope.$apply(function() {
                        event.preventDefault();
                        fn(scope, {$event:event});
                    });
                });
            };
        });
        function inSideDom(tag,dom){
            var curRectObj = dom.getBoundingClientRect(),rectObj = tag.getBoundingClientRect();
            var point = {
                y:rectObj.top + rectObj.height/2,
                x:rectObj.left + rectObj.width/2
            };
            if(point.x > curRectObj.left && point.x<curRectObj.left+curRectObj.width && point.y > curRectObj.top && point.y < curRectObj.top+curRectObj.height){
               return true;
            }else{
               return false;
            }
        }
        function dispatch(el, type){
            try{
                var evt = document.createEvent('Event');
                evt.initEvent(type,true,true);
                el.dispatchEvent(evt);
            }catch(e){
                alert(e);
            };
        }
    });
</script>
{%include "layout/footer"%}
