<div ng-if="viewstyle=='block'" class="view-block">
    <table class="table fixed">
        <thead>
        <tr>
            <td style="width:200px;">故事 <em title="新建故事" ng-click="addcard({'type':'story'})">添加</em></td>
            <td ng-if="expendind | expend:$index" ng-repeat="value in cardType">{{value}} <span class="screen" ng-click="screen($index)"><i class="unfold">{{expendind != $index?'﹥':'﹤'}}  </i></span></td>
        </tr>
        </thead>
    </table>
    <div class="tables">
        <table data-storyid="{{lineobj.story.objectId}}" sortable dragtarget=".stroy-card" class="table" ng-if="lineobj | showline" ng-repeat="lineobj in cardList | orderBy:orderfunc:'reverse'">
            <tbody>
            <tr>
                <td style="width:200px;">
                    <div class="story-card" ng-dblclick="cardclick(lineobj.story)">
                        <h4 class="title">{{lineobj.story.title}}</h4>
                        <div class="cont">
                            {{lineobj.story.description}}
                        </div>
                        <div class="story-add-card" ng-click="$event.stopPropagation();addcard({'parentId':lineobj.story.objectId,'parentName':lineobj.story.title})" title="添加任务">+</div>
                        <i title="优先级" class="weight" data-weight="{{lineobj.story.weight}}"></i>
                    </div>
                </td>
                <td masonry ng-if="expendind | expend:$index" dropable dataitem="cardtype" ng-repeat="cardtype in lineobj.cards" data-parentid="{{lineobj.story.objectId}}">
                    <div data-current="{{curCardId==item.objectId?1:0}}" classify="{{item.cardClass}}" ng-if="item | filterpeople:filterid:filterbyid:filterClass:filterQuery" draggable item="item" itemtype="cardtype" class="card"  ng-dblclick="cardclick(item)" ng-repeat="item in cardtype.list | orderBy:'weight':'reverse'">
                        <h4>{{item.title}}</h4>
                        <ul class="ownerslist cls">
                            <li class="name owner">责任人: {{item.owners | ownersname}}</li>
                        </ul>
                        <div class="completetime"><span class="owner">时间: {{item.amount}}天
                                    <span class="date-range" ng-if="(item.startTime&&item.endTime)">{{item.startTime | ftime }}~{{item.endTime | ftime}}</span></span></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-if="viewstyle=='line'" class="view-line">
    <div class="fix-wrap">
        <table class="story-wrap table">
            <colgroup>
                <col width="200"/>
                <col width="50"/>
                <col/>
                <col width="100"/>
                <col width="100"/>
                <col width="100"/>
                <col width="120"/>
            </colgroup>
            <thead>
            <tr>
                <td>故事<em title="新建故事" ng-click="addcard({'type':'story'})">添加</em></td>
                <td>类型</td>
                <td >任务</td>
                <td >状态</td>
                <td>报告人</td>
                <td>责任人</td>
                <td>时间</td>
            </tr>
            </thead>
        </table>
    </div>
        <div class="table">
            <table sortable data-storyid="{{lineobj.story.objectId}}" class="story-table" ng-if="lineobj | showline" ng-repeat="lineobj in cardList | orderBy:orderfunc:'reverse'">
                <tr>
                    <td style="width: 200px">
                        <div class="story-card" ng-dblclick="cardclick(lineobj.story)">
                            <h4 class="title">{{lineobj.story.title}}</h4>
                            <div class="cont">
                                {{lineobj.story.description}}
                            </div>
                            <div class="story-add-card" ng-click="$event.stopPropagation();addcard({'parentId':lineobj.story.objectId,'parentName':lineobj.story.title})" title="添加任务">+</div>
                            <i title="优先级" class="weight" data-weight="{{lineobj.story.weight}}"></i>
                        </div>
                    </td>
                    <td>
                        <div ng-if="expendind | expend:$index" dataitem="cardtype" ng-repeat="cardtype in lineobj.cards" data-parentid="{{lineobj.story.objectId}}">
                            <table class="table-line" cellpadding="0" cellspacing="0">
                                <colgroup>
                                    <col width="50"/>
                                    <col/>
                                    <col width="100"/>
                                    <col width="100"/>
                                    <col width="100"/>
                                    <col width="120"/>
                                </colgroup>
                                <tr  data-current="{{curCardId==item.objectId?1:0}}"  classify="{{item.cardClass}}" ng-if="item | filterpeople:filterid:filterbyid:filterClass:filterQuery" item="item" itemtype="cardtype" class="card"  ng-click="cardclick(item)" ng-repeat="item in cardtype.list | orderBy:'weight':'reverse'">
                                    <td><i class="tag">{{item.cardClass}}</i></td>
                                    <td><h4><span ng-if="item.tags.length" class="card-tags">【{{item.tags.join(', ')}}】</span>{{item.title}}</h4>
                                    </td>
                                    <td><span class="type-wrap"  ng-click="$event.stopPropagation();">
                            <select data-type="{{item.type}}" ng-cloak name="dateselect" ng-model="item.type" ng-change="typeChange(item,'{{item.type}}')">
                                <option ng-repeat="val in cardType" valuse="{{val}}">{{val}}</option>
                            </select></span></td>
                                    <td>{{item.createdBy.displayName}}</td>
                                    <td><span class="name owner">{{item.owners | ownersname}}</span></td>
                                    <td><span class="owner">{{item.amount}}天
                                <span class="date-range" ng-if="(item.startTime&&item.endTime)">{{item.startTime | ftime }}~{{item.endTime | ftime}}</span></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
    </div>
</div>
<div class="empty" ng-if="cardList.length==0">该冲刺还未创建故事 <em title="新建故事" ng-click="addcard({'type':'story'})">+添加</em></div>
<div class="empty gray" ng-if="!cardList">数据加载中…</div>