{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/style.css"/>
<div class="body cls" viewstyle="{{viewstyle}}"  ng-app="card" ng-controller="body">
    <div id="header" class="header" ng-controller="head">
        <h2>敏捷平台</h2>
        <form id="filter" class="filter">
            <label for="groupfilter">组：</label>
            <select ng-cloak name="groupfilter" id="groupfilter" ng-model="teamId"  ng-change="change('team')">
                <option ng-repeat="val in teams" value="{{val.objectId}}">{{val.name}}</option>
            </select>
           <label for="dateselect"> 时：</label>
            <select ng-cloak name="dateselect" id="dateselect" ng-model="sprintId"  ng-change="change()">
                <option ng-repeat="val in sprints" value="{{val.id}}">{{val.name}}</option>
            </select>
            <label for="filterpeo"> 责任人：</label>
            <select ng-cloak name="dateselect" id="filterpeo" ng-model="ownerId" ng-change="change(1)">
                <option ng-repeat="val in teamPeople" value="{{val.objectId}}">{{val.displayName}}</option>
            </select>
            <label for="filterpeo"> 报告人：</label>
            <select ng-cloak name="dateselect" id="filterpeo_b" ng-model="ownerById" ng-change="change(1)">
                <option ng-repeat="val in teamPeople" value="{{val.objectId}}">{{val.displayName}}</option>
            </select>
            <label for="cardclass"> 类型：</label>
            <select ng-cloak name="dateselect" id="cardclass" ng-model="filterClass" ng-change="change(1)">
                <option ng-repeat="val in cardClass" value="{{val}}">{{val}}</option>
            </select>
            <label for="cardclass"> 标签：</label>
            <select ng-cloak name="dateselect" id="tags" ng-model="filterTag" ng-change="change(1)">
                <option ng-repeat="val in tags" value="{{val}}">{{val}}</option>
            </select>
            <label>过滤：<input type="text" placeholder="输入关键字" ng-model="filterQuery" ng-change="change(1)"></label>
        </form>
        <div class="user" ng-cloak>{%user.displayName%}<i class="up">▲</i><i class="down">▼</i>
            <div class="hoverpanel">
                <a class="statistics" href="{{statistics}}">统计</a>
                <a class="notice" target="_blank" href="/notice?teamId={%curTeam.id%}">公告</a>
                {%if user.role=='admin'|| user.role=='superAdmin'%}<a href="/admin?teamId={%params.teamId%}">管理</a>{%/if%}
                <a href="/logout">退出</a>
            </div>
        </div>
        <span class="viewstyle" ng-click="switchview()" ng-cloak><em ng-if="viewstyle=='block'" title="点击列表展示">≡</em><em ng-if="viewstyle=='line'" title="点击块状展示">○</em></span>
    </div>
    <div id="content" ng-cloak class="content cls" ng-controller="list">
        {%include "index-list"%}
    </div>
    <div class="carddetail" ng-cloak ng-show="show" ng-controller="cardDetail" paste>
        {%include "index-panel"%}
    </div>
</div>
<script>
    seajs.use(["angular","angular-animate","tools","directive"],function(){
        tplData.sprintId = tplData.sprintId || tplData.sprints[0].id;
        tplData.pageConfig = JSON.parse(localStorage.getItem("pageConfig")) || { //页面配置信息
                    viewType:"block"
                };
         var app = angular.module('card', ['ngAnimate','ngDirective']);
        app.filter('totrusted', ['$sce', function ($sce) {
            return function (text) {
                var str = (text||"").replace(/\n/g,"<br/>").replace(/\s/g,"&nbsp;");
                return $sce.trustAsHtml(str);
            };
        }]);
        app.filter("ownersname",function(){
            return function(owners){
                var arr_name = [];
                for(var i=0;i<owners.length;i++){
                    arr_name.push(owners[i].displayName);
                }
                return arr_name.join(",");
            }
        });
        app.filter("tagchk",function(){
            return function(str,list){
                var res = 0;
                if(list && list.length){
                    for(var i=0;i<list.length;i++){
                        if(str == list[i]){
                            res = 1;
                            break;
                        }
                    }
                }
                return res;
            }
        });
        app.filter("ftime",function(){
            return function(str){
                var t = new Date(str.replace("-","/"));
                return (t.getMonth()+1) +"."+ t.getDate();
            }
        });
        app.filter("expend",function(){
            return function(expendId,itemInd){
                if(expendId!=undefined){
                    if(itemInd == expendId){
                        return 1;
                    }else{
                        return 0;
                    }
                }else{
                    return 1;
                }
            }
        });
        app.filter("iscurrentUser",function(){
            return function(id){
                if(tplData.user.id==id){
                    return 1;
                }else{
                    return 0;
                }
            }
        });
        app.controller("body",function($scope,$rootScope){
            $scope.curCardId = null;
            $scope.$on("headChange",function (event, obj) {
                $scope.$broadcast("filterChange", obj);
            });
            $scope.$on("addCard",function(event,data){
                $scope.$broadcast("showDetail",data);
            });
            $scope.$on("addnewCard",function(event,data){
                $scope.$broadcast("addedCard",data);
            });
            $scope.$on("modefyCard",function(event,data){
                $scope.curCardId = data.objectId;
                $scope.$broadcast("showDetail",data);
            });
            $scope.$on("drop",function(event,data){
                $scope.$broadcast("dropcard",data);
            });
            $scope.viewstyle = tplData.pageConfig.viewType;
            $scope.switchview = function(){
                if($scope.viewstyle == "block"){
                    $scope.viewstyle ="line";
                }else{
                    $scope.viewstyle = "block"
                }
                tplData.pageConfig.viewType = $scope.viewstyle;
                localStorage.setItem("pageConfig",JSON.stringify(tplData.pageConfig));//配置信息重写入localstroage
            }
        });
        app.controller('head', function($scope,$http) {
            $scope.scope = $scope;
            $scope.teams = tplData.teams;
            $scope.teamId=tplData.teamId;
            $scope.sprintId =tplData.sprintId;
            $scope.sprints = tplData.sprints;
            $scope.teamPeople=[{"objectId":"all","displayName":"全部"}];//下拉选择添加全部
            $scope.cardClass = tplData.curTeam.cardClass;
            $scope.cardClass.unshift("全部");
            $scope.tags = [].concat(tplData.curTeam.tags);
            $scope.tags.unshift("全部");
            $scope.ownerId="all";
            $scope.ownerById="all";
            $scope.filterClass="全部";
            $scope.filterTag="全部";
            $scope.statistics = "/statistics?teamId="+$scope.teamId+"&sprintId="+$scope.sprintId;
            for(var i=0;i<tplData.teamPeople.length;i++){
                var inteam = 0;
                for(var j=0;j<tplData.teamPeople[i].teams.length;j++){
                    if(tplData.teamPeople[i].teams[j].teamId == $scope.teamId){
                        inteam = 1;
                    }
                }
                if(inteam){
                    $scope.teamPeople.push(tplData.teamPeople[i])
                }
            }
            $scope.change = function (isname) {
                $scope.statistics = "/statistics?teamId="+$scope.teamId+"&sprintId="+$scope.sprintId;
                if(isname==1){
                    $scope.$emit("headChange", {sprintId:$scope.sprintId,
                        teamId:$scope.teamId,
                        ownerById:$scope.ownerById,
                        ownerId:$scope.ownerId,
                        filterClass:$scope.filterClass,
                        filterTag:$scope.filterTag,
                        filterQuery:$scope.filterQuery
                    });
                }else if(isname == 'team'){
                    location.href = "/?teamId="+$scope.teamId;
                }else{
                    location.href = "/?teamId="+$scope.teamId+"&sprintId="+$scope.sprintId;
                }
            };
        });
        app.controller('list', function($scope,$rootScope,$http) {
            $scope.cardType = tplData.curTeam.cardType;
            $scope.filterid = "all";
            $scope.filterbyid = "all";
            $scope.filterClass = "全部";
            $scope.filterTag = "全部";
            $scope.filterNum="…";
            render({sprintId:tplData.sprintId,teamId:tplData.teamId,ownerId:"all"});
            function render(obj){
                var url = "/ajax?type=get-card-list&sprintId="+ obj.sprintId+"&teamId="+obj.teamId;
                    $http.get(url).then(function(data){
                        tplData.cardList = $scope.cardList = data.data.result;
                        $scope.filterNum = getFilterNum({ownerId:$scope.filterid,ownerById:$scope.filterbyid,filterClass:$scope.filterClass,filterTag:$scope.filterTag},1);
                        if( $scope.filterNum == 0 && $scope.filterid=="all" && $scope.filterbyid=="all" && $scope.filterClass =="全部" && $scope.filterTag=='全部'){
                            $scope.filterNum = "未添加"
                        }
                    },function(data){});
                }
            $scope.cardclick=function(data){
                $scope.$emit("modefyCard",data);
            };
            $scope.typeChange = function(item,old_type){
                //列表展示状态，修改任务状态
                var url = "/ajax?type=card-move&cardId="+item.objectId+"&newType="+item.type;
                $http.get(url).success(function(res){
                    if(res.status != 1) {
                        alert("修改失败！");
                        item.type = old_type;
                    }else{
                        //重组数据
                        var parentObj;
                        //查找当前改变card父级
                        for(var i=0;i<tplData.cardList.length;i++){
                            if(item.parentId == tplData.cardList[i].story.objectId){
                                parentObj =  tplData.cardList[i];
                                break;
                            }
                        }
                        //获取改变的card
                        var moveCard;
                        for(var j=0;j<parentObj.cards.length;j++){
                            var typelist = parentObj.cards[j],bk = 0;
                            for(var m=0;m<typelist.list.length;m++){
                                if(typelist.list[m].type!=typelist.type){
                                    moveCard = typelist.list.splice(m,1)[0];
                                    bk = 1;
                                    break;
                                }
                            }
                            if(bk ==1){
                                break;
                            }
                        }
                        //回塞改变状态的cards
                        for(var n = 0;n<parentObj.cards.length;n++){
                            if(parentObj.cards[n].type == moveCard.type){
                                parentObj.cards[n].list.push(moveCard);
                            }
                        }
                    }
                });
            };
            $scope.$on("moveCard",function(event,data){
                //卡片显示状态拖动卡片
                $scope.$apply();
                var url = "/ajax?type=card-move&cardId="+data.item.objectId+"&newType="+data.item.type;
                $http.get(url).success(function(res){
                    if(res.status != 1) {
                        alert("修改失败！");
                        location.reload();
                    }
                });
            });
            $scope.addcard=function(data){
                var cur_obj = JSON.parse(JSON.stringify(data));
                cur_obj.cardList = $scope.cardList;
                $scope.$emit("addCard",cur_obj);
            };
            $scope.screen=function(ind){
                if($scope.expendind == ind){
                    $scope.expendind =  undefined;
                }else{
                    $scope.expendind = ind;
                }
            }
            $scope.orderfunc=function(data){
                return data.story.weight;
            };
            $scope.$on("addedCard",function(event,data){
                if(data.type == "story"){
                    var arr = [];
                    tplData.curTeam.cardType.forEach(function(name){
                        arr.push({type:name,list:[]});
                    });
                    $scope.cardList.push({cards:arr,story:data});
                }else if(data.parentId){
                    for(var i=0;i<$scope.cardList.length;i++){
                        if(data.parentId == $scope.cardList[i].story.objectId){
                            for(var j=0;j<$scope.cardList[i].cards.length;j++){
                                if($scope.cardList[i].cards[j].type == data.type){
                                    $scope.cardList[i].cards[j].list.push(data);
                                    break;
                                }
                            }
                            break;
                        }
                    }
                }
            });
            $scope.$on("filterChange",function (event, obj) {
                $scope.filterNum = getFilterNum(obj);
            });
            $scope.$on("sortted",function(event,data){
                var num = 1,sortObj={},ori_list =[];
                tplData.cardList.forEach(function(obj){
                    ori_list.push({objectId:obj.story.objectId,weight:obj.story.weight});
                });
                ori_list.sort(function(obj1,obj2){
                    if(obj1.weight<=obj2.weight){
                        return 1
                    }else{
                        return -1
                    }
                });
                var ajax_sort = 0;
                for(var i=0;i<ori_list.length;i++){
                    if(data[i].storyid!=ori_list[i].objectId){
                        ajax_sort = 1;
                        break;
                    }
                }
                if(ajax_sort){//判断是否需要跟新服务端排序
                    for(var i=data.length- 1;i>=0;i--){
                        data[i].weight = num * 5;
                        sortObj[data[i].storyid]=data[i];
                        num ++;
                    }
                    for(var i=0;i<tplData.cardList.length;i++){
                        var cur_story = tplData.cardList[i].story;
                        cur_story.weight = sortObj[cur_story.objectId].weight;
                    }
                    $scope.$apply();
                    $http.post("/ajax?type=card-sort",sortObj).success(function(data){
                        if(data.status == 1) {
                            $scope.show = 0;
                        }else{
                            alert("排序失败");
                            location.reload();
                        }
                    });
                }
            });
        });
        app.controller('cardDetail',function($document,$scope,$rootScope,$http){
            $scope.show = 0;
            $scope.lockClose=0;//防止两次点击关闭
            $scope.cardClassList = tplData.curTeam.cardClass;
            $scope.storyList = [];
            $scope.sprintList = tplData.sprints;
            $scope.closepanel= function(notclose){
                $rootScope.curCardId = null;
                if($scope.card.sprintId != $scope.oldData.sprintId || $scope.card.parentId != $scope.oldData.parentId){
                    //页面数据回滚
                    $scope.oldCardList.forEach(function(arr,ind){
                        tplData.cardList[ind] =  $scope.oldCardList[ind];
                    });
                }else if($scope.card.deleted !=1){
                    for(var key in $scope.card){//没删除就数据回滚
                        $scope.card[key]=$scope.oldData[key];
                    }
                }
                if(!notclose){
                    $scope.show = 0;
                }
            };
            $document.bind("click",function(event){//如果面板打开，自动关闭
                var target = event.target;
                var panel = $(target).closest(".carddetail");
                if(!panel.size()){
                    if($scope.show==1 && $scope.card.objectId && !$scope.lockClose){
                        if(!diffObj($scope.oldData,$scope.card)){
                            if(window.confirm("数据有改动，放弃不保存吗?")){
                                clpanel()
                            }
                        }else{
                           clpanel();
                        }
                    }
                }
                function clpanel(){
                    setTimeout(function(){
                        if(!$scope.lockClose){
                            $scope.closepanel();
                            $scope.$apply();
                        }
                    },200);
                }
            });
            $scope.$on("showDetail",function(event,data){
                if($scope.card && $scope.card.objectId){
                    if(!diffObj($scope.oldData,$scope.card)){
                        $scope.closepanel(1);//回滚数据，不关闭面板
                    }
                }
                $scope.storyList = [];
                tplData.cardList.forEach(function(item){
                    if(item.deleted != "1"){
                        $scope.storyList.push(item.story);
                    }
                });
                $scope.oldData = JSON.parse(JSON.stringify(data));
                $scope.oldCardList = JSON.parse(JSON.stringify(tplData.cardList));
                $scope.show = 1;
                $scope.ajaxing = 0;
                $scope.cacheComment = "";
                $scope.teamPeople =tplData.teamPeople;
                $scope.tagsList = tplData.curTeam.tags;
                if(data && data.hasComments == 1){
                    //获取评论
                    $http.get("/ajax?type=get-comments&cardId="+data.objectId).then(function(data){
                        $scope.comments = data.data.result;
                    });
                }else{
                    $scope.comments=[];
                }
                if(data && data.objectId){

                    //修改卡片
                    $scope.card = data;
                    $scope.showTitle="";
                    $scope.submit=function(e){
                        $scope.ajaxing = 1;
                        var url = "/ajax?type=update-card&teamId="+tplData.teamId+"&sprintId="+tplData.sprintId+"&cardId="+$scope.card.objectId;
                        $http.post(url,$scope.card).success(function(data){
                            if(data.status == 1) {
                                $scope.oldData=data.result;
                                $scope.show = 0;
                            }else{
                                alert("修改卡片失败");
                            }
                            $scope.ajaxing = 0;
                        });
                    };

                }else{
                    //新建卡片
                    if(data.parentId){
                        $scope.showTitle="新建任务";
                        $scope.card={images:[],tags:[],weight:1,cardClass:"任务",owners:[],type:tplData.curTeam.cardType[0],parentId:data.parentId,parentName:data.parentName};
                    }else{
                        $scope.showTitle="新建故事";
                        $scope.card={images:[],owners:[],type:data.type,weight:1};
                    }
                    $scope.submit=function(e){
                        $scope.ajaxing = 1;
                        var url = "/ajax?type=add-card&teamId="+tplData.teamId+"&sprintId="+tplData.sprintId;
                        $http.post(url,$scope.card).success(function(data){
                            if(data.status == 1) {
                                $scope.$emit("addnewCard",data.result);
                                $scope.show = 0;
                            }else{
                                alert("新建卡片失败");
                            }
                            $scope.ajaxing = 0;
                        });
                    };
                }
                $scope.lockClose = 1;
                setTimeout(function(){
                    $scope.lockClose = 0;
                },500)
            });
            $scope.chk = function(name,event){
                var card = $scope.card;
                if(event.target.getAttribute("data-check")=="0"){
                    var isin = 0;
                    for(var i=0;i<card.tags.length;i++){
                        if(card.tags[i]==name){
                            isin = 1;
                            break;
                        }
                    }
                    if(!isin){
                        card.tags.push(name);
                    }
                }else{
                    for(var i=0;i<card.tags.length;i++){
                        if(card.tags[i]==name){
                            card.tags.splice(i,1);
                        }
                    }
                }
            };
            $scope.userChange=function(dom){
                var id= dom.value,ret = 0;
                dom.value="";
                if(!id) return;
                $scope.card.owners.forEach(function(obj){
                    if(obj.objectId == id){
                        ret = 1;
                    }
                });
                if(ret){return};
                for(var i=0;i<$scope.teamPeople.length;i++){
                    if(id==$scope.teamPeople[i].objectId){
                        $scope.card.owners.push($scope.teamPeople[i]);
                        $scope.$apply();
                        break;
                    }
                }
            };
            $scope.movetostory = function(parentId,card){
                tplData.cardList.forEach(function(item){
                    if(item.story.objectId == parentId){
                        item.cards.forEach(function(cardlist){
                            cardlist.list.forEach(function(cur_card,ind){
                                if(cur_card.objectId == card.objectId){
                                    cardlist.list.splice(ind,1);
                                }
                            })
                        });
                    }
                    if(item.story.objectId == card.parentId){
                        item.cards.forEach(function(cardlist){
                            if(cardlist.type == card.type){
                                cardlist.list.push(card);
                            }
                        });
                    }
                });
            };
            $scope.movetosprint = function(sprintId,card){
                if(card.sprintId != tplData.sprintId){
                    tplData.cardList.forEach(function(item,ind){
                        if(card.objectId == item.story.objectId){
                            tplData.cardList.splice(ind,1);
                        }
                    });
                }else{
                    //数据还原
                    $scope.oldCardList.forEach(function(arr,ind){
                        tplData.cardList[ind] =  $scope.oldCardList[ind];
                    });
                }
            };
            $scope.showimg=function(){
                var url = location.origin+"/showimg";
                var openwindow=window.open(url,"_blank","location=no,fullscreen=yes");
                var cur_url = this.img.url,images=[];
                $scope.card.images.forEach(function(obj){
                    images.push(obj.url);
                });
                openwindow.onload=function(){
                    openwindow.postMessage({images:images,curUrl:cur_url},url);
                };
            };
            $scope.ctrlenter = function(ev) {
                if($scope.commenting == 1) return;
                var textarea = ev.target,val= textarea.value.trim();
                if (ev.ctrlKey == true && (ev.keyCode == 13||ev.keyCode == 10) && val.length>0){
                    $scope.commenting = 1;
                    var url = "/ajax?type=add-comment&cardId="+$scope.card.objectId+"&description="+encodeURIComponent(val)+"&hasComments="+$scope.card.hasComments;
                    $http.get(url).then(function(data){
                      if(data.data.status == 1){
                            $scope.card.hasComments = "1";
                            $scope.comments.push(data.data.result);
                            textarea.value="";
                      }else{
                            alert("添加评论失败！");
                      }
                        $scope.commenting=0;
                    },function(data){
                        $scope.commenting=0;
                    });
                }
            };
            $scope.deletePeo=function(card,objectId){
                for(var i=0;i<card.owners.length;i++) {
                    if (card.owners[i].objectId == objectId) {
                        card.owners.splice(i, 1);
                    }
                }
            };
            $scope.deletePic=function(card,imgId){
                for(var i=0;i<card.images.length;i++){
                    if(card.images[i].id == imgId){
                        card.images[i].deleted = 1;
                        break;
                    }
                }
            };
            $scope.delcard=function(cardId){
                var url = "/ajax?type=del-card&cardId="+$scope.card.objectId;
                $http.get(url).then(function(data){
                    if(data.data.status == 1){
                        $scope.card.deleted = "1";
                        $scope.show=0;
                    }else{
                        alert("删除失败！");
                    }
                    $scope.commenting=0;
                },function(data){
                    $scope.commenting=0;
                });
            }
        });
        function getFilterNum(obj,isInit){
            var res = 0,ownerId = obj.ownerId,ownerById=obj.ownerById,filterClass=obj.filterClass,filterTag=obj.filterTag,filterQuery=obj.filterQuery;
            tplData.cardList.forEach(function(cardwrap){
                if(!isInit){
                    if(filterClass=="全部"&& filterQuery==undefined && filterTag=="全部" && ownerId =="all" && ownerById =="all"){
                        cardwrap.filterResult = null;
                    }else{
                        cardwrap.filterResult="hide";//默认隐藏
                    }
                }
                cardwrap.cards.forEach(function(cards){
                    cards.list.forEach(function(card){
                        if(filterFunc(card,ownerId,ownerById,filterClass,filterTag,filterQuery)){
                            card.filterResult = null;
                            cardwrap.filterResult = null;
                            res+=1;
                        }else{
                            card.filterResult="hide";
                        }
                    });
                });
            });
            return res;
        }
        function diffObj(obj1,obj2){
            if(obj1 == obj2){
                return 1;
            }
            if(!obj1||!obj2){
                return 0;
            }
            var issame = 1;
            for(var key in obj1){
                var cur_obj = obj1[key];
                if(key.indexOf("$$")==0){
                }else if(typeof cur_obj == "object"){
                    if(!diffObj(obj1[key],obj2[key])){
                        issame = 0;
                    };
                }else if(obj1[key]!=obj2[key]){
                    issame = 0;
                }
            }
            return issame;
        }
        function filterFunc(item,ownerId,ownerById,filterClass,filterTag,filterQuery){
            if(item.deleted==1){
                return 0;
            }
            if(filterClass != item.cardClass && filterClass != "全部"){
                return 0;
            };
            if(ownerId!="all"){
                var res = 0;
                for(var i=0;i<item.owners.length;i++){
                    if(ownerId == item.owners[i].objectId){
                        res = 1;
                        break;
                    }
                }
                if(res == 0){//如果此项没通过，直接返回
                    return res;
                }
            }
            if(ownerById!="all"){
                if(ownerById!=item.createdBy.userId){
                    return 0;
                }
            }
            if(filterQuery && filterQuery.length !=0){
                if(item.title.indexOf(filterQuery)==-1){
                    return 0;
                }
            }
            if(filterTag!="全部"){
                var res = 0;
                for(var i=0;i<item.tags.length;i++){
                    if(item.tags[i]==filterTag){
                        res = 1;
                    }
                }
                if(res ==0){
                    return res;
                }
            }
            return 1;
        }
    });
</script>
{%include "layout/footer"%}
