{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/login.css"/>
<div class="top">
    <div class="outer-width">
        <img width="150" src="/public/images/logo.png" alt="card">
    </div>
</div>
<div class="banner">
    <div class="outer-width">
        <div class="login-wrap">
            <form method="POST">
                <h3>用户登录</h3>
                <ul>
                    {%if err%}
                    <li class="form-group">
                        <p class="error">{%err.message%}</p>
                    </li>
                    {%/if%}
                    <li class="form-group name"><input type="text" name="username" placeholder="用户名"><i class="form-icon"></i></li>
                    <li class="form-group pwd"><input type="password" name="password" placeholder="密码"><i class="form-icon"></i></li>
                    <li class="form-group"><button class="submit" type="submit">登 录</button></li>
                    <input type="hidden" name="originalUrl" value="{%originalUrl%}">
                </ul>
            </form>
        </div>
    </div>
</div>
{%include "layout/footer"%}