{%include "layout/header"%}
<link rel="stylesheet" href="/public/css/style.css"/>
<style>
    .buttons{height:32px;}
    .btn-left,.btn-right{width: 50%;position: fixed;font-size: 18px;line-height: 32px;text-align: center;background-color:#CCE4FC;cursor: pointer;box-sizing: border-box;top:0;}
    .btn-left:hover,.btn-right:hover{background-color:#80BCF8;}
    .btn-left{left:0;}
    .btn-right{right:0;border-left:1px solid #fff;}
    .img-wrap{text-align: center;padding-top: 10px}
</style>
    <div class="buttons">
        <div class="btn-left">上一张</div>
        <div class="btn-right">下一张</div>
    </div>
    <div class="img-wrap">

    </div>
    <script>
        var tplData = {"images":["http://ac-h229mcsm.clouddn.com/a7961516418f4b3fa11b.png"],"curUrl":"http://ac-h229mcsm.clouddn.com/a7961516418f4b3fa11b.png"};
        window.addEventListener("message",function(e){
            var data = e.data,cur_ind = data.images.indexOf(data.curUrl),left = document.querySelector(".btn-left"),right=document.querySelector(".btn-right");
            renderImg(data.curUrl);
            left.addEventListener("click",function(){
                if(cur_ind>0){
                    var curSrc = data.images[cur_ind-1];
                    cur_ind --;
                }else{
                    var curSrc = data.images[0];
                    cur_ind = 0;
                }
                renderImg(curSrc);
            },false);
            right.addEventListener("click",function(){
                if(cur_ind<data.images.length-1){
                    var curSrc = data.images[cur_ind+1];
                    cur_ind ++;
                }else{
                    var curSrc = data.images[data.images.length-1];
                    cur_ind = data.images.length-1;
                }
                renderImg(curSrc);
            },false);
            function renderImg(src){
                var imgwrap = document.querySelector(".img-wrap");
                imgwrap.innerHTML = "<img src='"+src+"' />";
                document.title = "查看图片("+(cur_ind+1)+"/"+data.images.length+")";
            }
        },false);
    </script>
{%include "layout/footer"%}