<!DOCTYPE html>
<html>
<head lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{%title%}</title>
    <script>tplData = {%#str_data%}</script>
    {%include "seajs"%}
    {%include "seajs-config"%}
    {%include "seajs-cache"%}
</head>
<body>
<div class="contenter" id="container">
