<script class="seajs-conf">
    seajs.config({
        base: "/public/js/seajs-module/",
        alias: {
            "angular":"angular.min.js?v=1",
            "angular-route":"angular-route.min.js?v=1",
            "angular-animate":"angular-animate.min.js?v=1",
            "template":"template.js?v=1",
            "tools":"tools.js?v=1",
            "directive":"directive.js?v=5",
            "echarts":"echarts.min.js?v=1",
            "angular-sanitize":"angular-sanitize.min.js?v=1"
        },
        debug:false
    });
</script>
